/*estilos gerais */

body{
    background-color:rgb(160, 148, 132);
    font-family: 'Montserrat', sans-serif;
}

/* Form */
#form-container{
    background-color: rgb(199, 195, 190);
    border-radius: 20px;
    box-shadow: .5px 10px 15px rgba(0, 0, 0, .2);
    margin: 45px auto;
    padding: 25px;
}

#form-container h2{
    font-weight: 800;
    margin-bottom: 30px;
    color:rgb(160, 148, 132);
}

#form-container a{
    color: #222;
    transition: .5s;
}

#form-container a:hover{
    color: rgb(160, 148, 132);
}

#form-container form{
    padding-bottom: 50px;
}

#form-container .form-control{
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

#form-container .form-control:focus{
    box-shadow: none;
}

#form-container .form-floating label{
    color: #ccc;
}

#form-container .form-floating> .form-control:focus~label{
    color: rgb(160, 148, 132);
}

#form-container input[type="button"]{
    background-color: rgb(160, 148, 132);
    border-color: rgb(160, 148, 132);
}

.btn.btn-primary{
    width: 100%;
}

/* Image */

.row.align-items-center{
    align-content: center;
    height: 100%;
}

#link-container{
    text-align: center;
    padding-top: 50px;
}

@media(min-width:768px){
    #form-container{
        margin: 85px auto;
        
    }

    .btn.btn-primary{
        width: auto;
    }

}
